.popup__body {
    margin: 0 auto;
    background-color: #ffffff;
    width: 430px;
    height: 330px;
    margin-top: 195px;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #000000;
    position: relative;
    padding: 0;
}

@media screen and (max-width: 671px) {
    .popup__body {
        width: 282px;
        height: 322px;
        margin-top: 123px;
    }
}