.popup__btn-close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 671px) {
    .popup__btn-close {
        right: 4px;
        width: 20px;
        height: 20px;
    }
}